@font-face {
  font-family: DIN-ALT;
  src: url("./assets/fonts/DIN-ALT.otf");
}

body {
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

body::-webkit-scrollbar {
    width: 1em;
    height: 90%;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #9c0000;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.fadeIn {
  transition: all 1s;
  opacity: 1;
}

.fadeOut {
  transition: all 1s;
  opacity: 0;
}

.content-wrapper {
  margin: 150px 300px 0 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.content-page {
  transition: 0.2s all;
}

.title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  /*
  padding-bottom: 25px;
  margin-bottom: 25px;
  */
  /*
  border-bottom: 3px #9c0000 solid;
  */
  position: fixed;
  width: calc(100% - 550px);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  */
  z-index: 9999;
}

.title-wrapper::after {
  content: "";
  width: 0;
  transition: all 0.75s ease-in-out;
  border-bottom: 3px #9c0000 solid;
}

.title-wrapper.line::after {
  width: 100%;
}

.title-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: DIN-ALT;
  transition: all 0.5s;
  width: 100%;
  margin-bottom: 5px;
}

.title-name {
  font-family: DIN-ALT;
  font-size: 75px;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
}

.title-school {
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.title-downarrow {
  color: #9c0000;
  font-size: 25px;
  transition: all 0.3s;
  width: 100%;
  margin-top: -5px;
}

.title-downarrow::before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrapper i:hover {
  font-size: 35px;
  cursor: pointer;
}

.title-menu-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #9c0000;
  font-family: DIN-ALT;
  font-size: 20px;
  background: #f2f2f2;
  width: 100%;

  position: relative;
  z-index: -5;

  transition: all 0.5s;
}

.title-menu-item {
  transition: 0.2s opacity, 0.4s height;
  height: 0;
  opacity: 0;
}

.title-menu-item:hover {
  font-weight: 600;
  cursor: pointer;
}

.title-menu-item:nth-of-type(1) {
  height: auto;
  opacity: 1;
  transition: 0.2s opacity, 0.4s height, 0.3s font-size;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 25px;
}

.about-images-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-img {
  width: auto;
  height: 350px;
  transition: 0.5s all;
}

.about-img {
  box-shadow: 0 8px 6px 2px rgba(0,0,0,0.7);
  margin-right: 20px;
}

.about-img-hover {
  box-shadow: 0 15px 13px 0 rgba(0,0,0,0.5);
  transform: translateY(-15px);
  cursor: pointer;
}

.about-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.about-titles-wrapper {

}

.about-title {
  display: none;
  font-family: DIN-ALT;
  font-size: 45px;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
  transition: 0.5s opacity;
}

.about-descs-wrapper{

}

.about-desc {
  display: none;
  font-family: Arial;
  font-size: 22px;
  color: rgba(0,0,0,0.7);
  text-align: left;
  transition: 0.5s opacity;
}

.school-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.school-major {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
}

.school-gpa {
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.exp-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background: white;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

.exp-wrapper:hover{
  transition: 0.5s all;
  transform: translateY(-10px);
  box-shadow: 0px 20px 8px -8px rgba(0,0,0,0.3);
}

.exp-img {
  user-select: none;
  width: 350px;
  height: 170px;
}

.exp-text {
  margin: 10px;
  width: 100%;
}

.exp-title {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: #9c0000;
  text-align: left;
  text-transform: uppercase;
}

.exp-years {
  font-family: Arial;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.exp-desc {
  margin-top: 15px;
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: left;
}

.exp-desc-lang {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  margin-top: 15px;
}

.exp-desc-lang i {
  margin: 0 10px;
  color: rgba(0,0,0,1);
  filter: grayscale(1);
  transition: all 0.3s;
}

.exp-desc-lang i:hover {
  margin: 0 10px;
  filter: grayscale(0);
  transform: translateY(-7px);
}

.website-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background: white;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

.website-wrapper:hover{
  transition: 0.5s all;
  transform: translateY(-10px);
  box-shadow: 0px 20px 8px -8px rgba(0,0,0,0.3);
}

.website-img {
  text-decoration: none;
  border: none;
  user-select: none;
  width: 350px;
  height: 170px;
}

.website-img img{
  width: 350px;
  height: 170px;
  margin-right: 30px;
}

.website-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
}

.website-title {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.website-title a {
  text-decoration: none;
  color: #9c0000;
}

.website-title a:hover {
  cursor: pointer;
}

.website-title i {
  transition: 0.3s opacity;
  opacity: 0;
  padding: 0px 10px;
}

.website-title i:nth-child(3) {
  transform: rotateZ(180deg);
}

.website-years {
  font-family: Arial;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
}

.website-desc {
  margin-top: 15px;
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-left: 30px;
}

.devicon-github-plain:hover, .devicon-atom-original:hover{
  color: rgb(104,33,122);
}

.social-wrapper {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
}

.social-wrapper a {
  margin: 5px;
}

.social-wrapper i {
  transition: all 0.3s;
  color: #9c0000;
}

.social-wrapper i:hover {
  font-size: 65px;
}

@media only screen and (max-width: 1600px){
  .about-desc {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1400px){
  .title-name {
    font-size: 50px;
  }
  .about-desc {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1200px){
  .about-wrapper {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .about-img {
    margin: 0;
    margin-bottom: 20px;
  }
  .exp-desc-lang {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .exp-desc-lang i {
    margin: 10px;
  }
}

@media only screen and (max-width: 1175px){
  .content-wrapper {
    margin: 120px 200px 0 200px;
  }
  .title-wrapper {
    width: calc(100% - 350px);
  }
  .title-school {
    font-size: 15px;
  }
  .about-img {
    width: 250px;
    height: auto;
  }
}
@media only screen and (max-width: 950px){
  .content-wrapper {
    margin: 100px 100px 0 100px;
  }
  .about-img {
    width: 200px;
    height: auto;
  }
  .title-name {
    font-size: 45px;
  }
  .title-wrapper {
    width: calc(100% - 175px);
  }
}
@media only screen and (max-width: 750px){
  .content-wrapper {
    margin: 100px 100px 0 100px;
  }
  .title-wrapper {
    width: calc(100% - 175px);
  }
  .title-name {
    font-size: 35px;
  }
  .title-school {
    font-size: 11.5px;
  }
  .social-wrapper {
    bottom: auto;
    top: 0;
    right: 0;
    align-items: flex-start;
    width: 100%;
    z-index: 999999;
  }
}
@media only screen and (max-width: 575px){
  .content-wrapper {
    margin: 100px 50px 0 50px;
  }
  .title-wrapper {
    width: calc(100% - 80px);
  }
  .title-name {
    font-size: 30px;
  }
}
@media only screen and (max-width: 450px){
  .content-wrapper {
    margin: 120px 50px 0 50px;
  }
  .title-name {
    font-size: 25px;
  }
}
@media only screen and (max-width: 420px){
  .content-wrapper {
    margin: 100px 50px 0 50px;
  }
}
@media only screen and (max-width: 320px){
  .title-name {
    font-size: 30px;
  }
}
@media only screen and (max-height: 575px){
  .content-wrapper {
    margin: 130px 50px 0 50px;
  }
}
