@font-face {
  font-family: DIN-ALT;
  src: url("./assets/fonts/DIN-ALT.otf");
}

body {
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
    width: 1em;
    height: 90%;
    position: absolute;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #9c0000;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.fadeIn {
  transition: all 1s;
  opacity: 1;
}

.fadeOut {
  transition: all 1s;
  opacity: 0;
}

.content-wrapper {
  margin-top: 200px;
  width: 55vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.content-page {
  display: none;
  transition: 0.2s all;
  margin-bottom: 50px;
  width: 100%;
}

.fadelayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  transition: 0s all;
  background-color: #f2f2f2;
  z-index: -5;
  -webkit-mask-image: linear-gradient(180deg, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
}

.title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /*
  padding-bottom: 25px;
  margin-bottom: 25px;
  */
  /*
  border-bottom: 3px #9c0000 solid;
  */
  position: fixed;
  width: 60vw;
  padding: 0 calc(100vw - 60vw);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  */
  z-index: 9999;
}

.title-wrapper::after {
  content: "";
  width: 0;
  transition: all 0.75s ease-in-out;
  border-bottom: 3px #9c0000 solid;
}

.title-wrapper.line::after {
  width: 100%;
}

.title-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: DIN-ALT;
  transition: all 0.5s;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
}

.title-name {
  font-family: DIN-ALT;
  font-size: 5em;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
}

.title-school {
  font-size: 1.5em;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.title-downarrow {
  color: #9c0000;
  font-size: 25px;
  transition: all 0.3s;
  width: 100%;
  margin-top: -5px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.title-downarrow::before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrapper i:hover {
  font-size: 35px;
  cursor: pointer;
}

.title-menu-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #9c0000;
  font-family: DIN-ALT;
  font-size: 20px;
  width: 100%;

  position: relative;
  z-index: -5;

  transition: all 0.5s;
}

.title-menu-item {
  transition: 0.2s opacity, 0.25s height;
  height: 0;
  opacity: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.title-menu-item:hover {
  font-weight: 600;
  cursor: pointer;
}

.title-menu-item:nth-of-type(1) {
  height: auto;
  opacity: 1;
  transition: 0.2s opacity, 0.25s height, 0.3s font-size;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0 25px;
}

.about-images-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.about-img {
  width: auto;
  height: 20vw;
  transition: 0.5s all;
  box-shadow: 0 8px 6px 2px rgba(0,0,0,0.7);
  user-select: none;
  filter: grayscale(1);
  -webkit-tap-highlight-color: transparent;
}

.about-img-hover {
  box-shadow: 0 15px 13px 0 rgba(0,0,0,0.5);
  transform: translateY(-15px);
  cursor: pointer;
  filter: grayscale(0);
}

.about-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.about-titles-wrapper {
  font-size: 25px;
  margin-bottom: 10px;
}

.about-title {
  display: none;
  font-family: DIN-ALT;
  font-size: 2em;
  font-weight: 600;
  color: #9c0000;
  text-align: left;
  transition: 0.5s opacity;
  text-transform: uppercase;
}

.about-descs-wrapper{
  font-size: 20px;
}

.about-desc {
  display: none;
  font-family: Arial;
  font-size: 1em;
  color: rgba(0,0,0,0.7);
  text-align: left;
  transition: 0.5s opacity;
}

.school-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.school-major {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
}

.school-gpa {
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.exp-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background: white;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

.exp-wrapper:hover{
  transition: 0.5s all;
  transform: translateY(-10px);
  box-shadow: 0px 20px 8px -8px rgba(0,0,0,0.3);
}

.exp-img {
  width: 300px;
  height: auto;
}

.exp-text {
  margin: 10px;
  width: 100%;
  font-size: 20px;
}

.exp-text-lang {
  margin: 10px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 0;
}

.exp-title {
  font-family: DIN-ALT;
  font-size: 1em;
  font-weight: 600;
  color: #9c0000;
  text-align: left;
  text-transform: uppercase;
}

.exp-years {
  font-family: Arial;
  font-size: 0.65em;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.exp-desc {
  margin-top: 15px;
  font-family: Arial;
  font-size: 0.7em;
  color: rgba(0,0,0,0.7);
  text-align: left;
}

.exp-desc-lang {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.2em;
  margin-top: 15px;
}

.exp-desc-lang i {
  margin-right: 10px;
  color: rgba(0,0,0,1);
  filter: grayscale(1);
  transition: all 0.3s;
  margin-bottom: 10px;
}

.exp-desc-lang i:hover {
  filter: grayscale(0);
  transform: translateY(-7px);
}

.website-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background: white;
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

.website-wrapper:hover{
  transition: 0.4s all;
  transform: translateY(-10px);
  box-shadow: 0px 20px 8px -8px rgba(0,0,0,0.3);
}

.website-img {
  text-decoration: none;
  border: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  width: 350px;
  height: 170px;
}

.website-img img{
  width: 350px;
  height: 170px;
}

.website-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
  width: 100%;
  font-size: 20px;
}

.website-title {
  font-family: DIN-ALT;
  font-size: 1em;
  font-weight: 600;
  color: #9c0000;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.website-title a {
  text-decoration: none;
  color: #9c0000;
}

.website-title a:hover {
  cursor: pointer;
}

.website-title i {
  transition: 0.3s opacity;
  opacity: 0;
  margin-right: 5px;
}

.website-title i:nth-child(3) {
  transform: rotateZ(180deg);
  margin-right: 0;
  margin-left: 5px;
}

.website-years {
  font-family: Arial;
  font-size: 0.65em;
  color: rgba(0,0,0,0.7);
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 12px;
}

.website-desc {
  margin-top: 15px;
  font-family: Arial;
  font-size: 0.7em;
  color: rgba(0,0,0,0.7);
  text-align: left;
  margin-left: 12px;
}

.devicon-github-plain:hover, .devicon-atom-original:hover{
  color: rgb(104,33,122);
}

.social-wrapper {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 10px;
  right: 10px;
  font-size: 50px;
}

.social-wrapper a {
  margin: 5px;
}

.social-wrapper i {
  transition: all 0.3s;
  color: #9c0000;
}

.social-wrapper i:hover {
  font-size: 65px;
}

@media only screen and (max-width: 1500px){
  .title-wrapper {
    width: 70vw;
    padding: 0 calc(100vw - 70vw);
  }
  .content-wrapper {
    width: 65vw;
  }
  .about-img {
    height: 25vw;
  }
}

@media only screen and (max-width: 1100px){
  .content-wrapper {
    margin-top: 150px;
  }
  .title-text-wrapper {
    font-size: 10px;
  }
}

@media only screen and (max-width: 950px){
  .title-text-wrapper {
    font-size: 8px;
  }
  .about-desc {
    text-align: center;
  }
  .about-title {
    text-align: center;
  }
  .website-wrapper {
    flex-flow: column nowrap;
  }
  .website-img, .website-img img {
    width: 100%;
    height: auto;
  }
  .website-text {
    width: auto;
  }
  .website-title i {
    display: none;
  }
  .website-years, .website-desc {
    margin-left: 0;
  }
  .exp-wrapper {
    flex-flow: column nowrap;
  }
  .exp-img, .exp-img img {
    width: 100%;
    height: auto;
  }
  .exp-text {
    width: auto;
  }
  .exp-text-lang {
    align-self: flex-start;
  }
  .exp-title i {
    display: none;
  }
  .exp-years, .exp-desc {
    margin-left: 0;
  }
}

@media only screen and (max-height: 700px){
  .content-wrapper {
    margin-top: 100px;
  }
  .about-titles-wrapper {
    font-size: 20px;
  }
  .about-descs-wrapper {
    font-size: 15px;
  }
}

@media only screen and (max-width: 585px){
  .title-text-wrapper {
    font-size: 5px;
  }
}
@media only screen and (max-width: 375px){
  .title-text-wrapper {
    font-size: 4px;
  }
  .exp-desc-lang i {
    margin-bottom: 10px;
  }
}
