@font-face {
  font-family: DIN-ALT;
  src: url("./assets/fonts/DIN-ALT.otf");
}

body {
  background-color: #f2f2f2;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
}

.content-wrapper {
  margin: 0 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 3px black solid;

}

.title-name {
  font-family: DIN-ALT;
  font-size: 75px;
  font-weight: 600;
  color: black;
  text-align: center;
  transition: all 0.3s;
}

.title-school {
  font-family: DIN-ALT;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: center;
  transition: all 0.5s;
}

@media only screen and (max-width: 1400px){
  .content-wrapper {
    margin: 0 200px;
  }
}
@media only screen and (max-width: 1175px){
  .title-name {
    font-size: 50px;
  }
  .title-school {
    font-size: 15px;
  }
}
@media only screen and (max-width: 950px){
  .content-wrapper {
    margin: 0 150px;
  }
}
@media only screen and (max-width: 830px){
  .content-wrapper {
    margin: 0 100px;
  }
}
@media only screen and (max-width: 730px){
  .content-wrapper {
    margin: 0 75px;
  }
}
@media only screen and (max-width: 675px){
  .content-wrapper {
    margin: 0 50px;
  }
}
@media only screen and (max-width: 630px){
  .content-wrapper {
    margin: 0 25px;
  }
}
@media only screen and (max-width: 575px){
  .content-wrapper {
    margin: 0 10px;
  }
  .title-name {
    font-size: 35px;
  }
  .title-school {
    font-size: 11.5px;
  }
}

.school-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.school-major {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.school-gpa {
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.8);
  text-align: center;
}

.exp-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.exp-title {
  font-family: DIN-ALT;
  font-size: 30px;
  font-weight: 600;
  color: black;
  text-align: center;
  line-height: 1.5em;
}

.exp-desc {
  font-family: Arial;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  text-align: center;
}

.exp-desc-lang {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.exp-desc-lang i {
  margin: 0 10px;
  color: rgba(0,0,0,0.8);
}
